[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Categories=Utility;
Icon=harbour-base64
Exec=harbour-base64
Name=Base64
Comment=Base64 encoder/decoder

[X-Sailjail]
Permissions=
OrganizationName=it.andreascarpino
ApplicationName=harbour-base64
